# Python Data Structures

# Dictionary

In [1]:
marks = {"Arsh":200,"Piyush":195,"Mayank":190,"Himanshu":194}

In [4]:
#extracting keys
marks.keys()

dict_keys(['Arsh', 'Piyush', 'Mayank', 'Himanshu'])

In [5]:
#extracting values
marks.values()

dict_values([200, 195, 190, 194])

In [11]:
#for printing all the key values sequentially
for i in marks.values():
    print("values is ", i)

values is  200
values is  195
values is  190
values is  194

In [12]:
#updating the dictionary values
marks["Arsh"]=195

In [13]:
marks.values()

dict_values([195, 195, 190, 194])

In [14]:
#for removing a particular column -> use del keyword
del marks["Himanshu"]

In [15]:
marks.values()

dict_values([195, 195, 190])

In [16]:
#for deleting the entire dictionary -> again use the del keyword
del marks

In [17]:
marks.values()

NameError: name 'marks' is not defined

In [18]:
#see marks dosen't exist now ;)

# 2D ARRAYS

In [21]:
from array import *

In [23]:
Arr_2d = [[1,2,3,4],[5,6,7,8]]

In [25]:
len(Arr_2d)

2

In [28]:
print(Arr_2d[0])#extracting the first row

[1, 2, 3, 4]

In [29]:
print(Arr_2d[0][:2])#extracting the first two elements of the first row

[1, 2]

In [30]:
print(Arr_2d[-1][:3])#extracting the first three column values of the second row

[5, 6, 7]

In [31]:
#now for completing the complete two dimensional array

In [32]:
Arr_2d

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [33]:
#or

In [34]:
for i in Arr_2d:
    for j in i:
        print(j,end=" ")
    print()#for the new line

1 2 3 4
5 6 7 8

In [35]:
#if u want to replace the complete row 
Arr_2d[1]=[10,11,12,13]

In [36]:
Arr_2d

[[1, 2, 3, 4], [10, 11, 12, 13]]

In [37]:
#values got changed

#for deleting the values use the -> del keyword

# Matrix

In [38]:
import numpy as np

In [39]:
my_array = np.array([["Arsh Mishra","Rajkot"],["Piyush","jaipur"],["Mayank","Jaipur"]])

In [40]:
print(my_array)

[['Arsh Mishra' 'Rajkot']
 ['Piyush' 'jaipur']
 ['Mayank' 'Jaipur']]

In [42]:
len(my_array)

3

In [43]:
my_array.reshape(2,3)#for reshaping it

array([['Arsh Mishra', 'Rajkot', 'Piyush'],
       ['jaipur', 'Mayank', 'Jaipur']], dtype='<U11')

In [44]:
#again reshaping it back to normal
my_array.reshape(3,2)

array([['Arsh Mishra', 'Rajkot'],
       ['Piyush', 'jaipur'],
       ['Mayank', 'Jaipur']], dtype='<U11')

In [50]:
#for adding a new line in it

my_array=np.append(my_array,['Himanshu','Gurgaon'])

In [51]:
my_array

array(['Arsh Mishra', 'Rajkot', 'Piyush', 'jaipur', 'Mayank', 'Jaipur',
       'Himanshu', 'Gurgaon'], dtype='<U11')

# SETS

In [53]:
day_of_the_week = set(["Mon","Tue","Wed","Thurs","Fri","Sat","Sun"])

In [54]:
print(day_of_the_week)

{'Tue', 'Thurs', 'Wed', 'Sat', 'Sun', 'Fri', 'Mon'}

In [55]:
#there is nothing like ordering here

In [56]:
days= set([21,22,23])

In [57]:
days

{21, 22, 23}

In [58]:
#for adding a value
days.add(24)

In [59]:
days

{21, 22, 23, 24}

In [62]:
#for incrementing all the values by 5
for i in days:
    i = i+5
    print(i)

29
26
27
28

In [63]:
#for removing the elements from the set 
days.discard(21)

In [64]:
days

{22, 23, 24}

In [65]:
#union of sets
set1=set([1,2,3,4])
set2=set([4,5,6,7,8])
union_set=set1|set2
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [66]:
#intersection of sets
inter_set=set1 & set2
print(inter_set)

{4}

# Linked List

In [1]:
# we will see how to insert the elements in the linkedlist and then how to print all of them

#steps
#1)creating nodes
#2)creating linked list
#3)Adding nodes to the linked list
#4)printing all the elements by traversing through each of them

In [15]:
class Node:
    def __init__(self,data):
        self.data = data
        self.next = None

In [18]:
class LinkedList:
    def __init__(self):
        self.head = None
    def insert(self,NewNode):
        if self.head is None:
            self.head = NewNode
        else:
            lastNode = self.head
            while True:
                if lastNode.next is None:
                    break
                lastNode=lastNode.next
            lastNode.next=NewNode
    def print_list(self):
        if self.head is None:
            print("List Is Empty Friend")
            
        else:
            currentnode = self.head
            while True:
                if currentnode is None:
                    break
                print(currentnode.data) 
                currentnode=currentnode.next
    #steps
    #1)preserve the current head node in the temporary node
    #2)make the new node as the head node
    #3)point the next part of the new node point to the temporary node
    def insertHead(self,newNode):
        temp_node=self.head
        self.head=newNode
        self.head.next=temp_node
        del temp_node
    def insert_afterhead(self,newNode):
        newNode.next=self.head.next
        self.head.next=newNode
    def insertAt(self,newNode,position):
        currentnode=self.head
        currentPosition =0
        while True:
            if currentPosition==position:
                previousnode.next=newNode
                newNode.next=currentnode
                break
            previousnode=currentnode
            currentnode=currentnode.next
            currentPosition +=1

In [19]:
#let's start inserting the values 
firstnode = Node("Arsh")
linklist=LinkedList()
linklist.insert(firstnode)
secnode =Node("Piyush")
linklist.insert(secnode)
#head node addition
headnode=Node("MR PICHAI")
linklist.insertHead(headnode)

#inserting  a new node after the head node

updated_sec_node=Node("Arnav")
linklist.insert_afterhead(updated_sec_node)

#inserting the node at the particular position

any_pos_node = Node("Mayank")
linklist.insertAt(any_pos_node,2)

#printing the list
linklist.print_list()#mayank value will get added at 2

MR PICHAI
Arnav
Mayank
Arsh
Piyush

In [20]:
class Node2:
    def __init__(self,data):
        self.data = data
        self.next = None

In [32]:
class LinkedList2:
    def __init__(self):
        self.head = None
    def insert(self,NewNode):
        if self.head is None:
            self.head = NewNode
        else:
            lastNode = self.head
            while True:
                if lastNode.next is None:
                    break
                lastNode=lastNode.next
            lastNode.next=NewNode
    def print_list(self):
        if self.head is None:
            print("List Is Empty Friend")
            
        else:
            currentnode = self.head
            while True:
                if currentnode is None:
                    break
                print(currentnode.data) 
                currentnode=currentnode.next
    def last_node(self):
        lastele=self.head
        while lastele.next is not None:
            prev_ele =lastele
            lastele=lastele.next
        del lastele
        prev_ele.next=None

In [33]:
first_ele = Node2(10)
obj=LinkedList2()
obj.insert(first_ele)
second_ele =Node(20)
obj.insert(second_ele)
third_ele =Node(30)
obj.insert(third_ele)
obj.print_list()

10
20
30

In [34]:
obj.last_node()

In [35]:
obj.print_list()

10
20

# STACK

In [4]:
class stack:
    def __init__(self):
        self.stack=[]
    #for inserting the elements into the stack    
    def add_ele(self,value):
        if value not in self.stack:
            self.stack.append(value)
            return True
        else:
            return False
    #for peeking the top most value of the stack
    def peek_func(self):
        print(self.stack[-1])
    #for poping out the value from stack
    def pop_func(self):
        if len(self.stack)>0:
            self.stack.pop()
            return True
        else:
            print("Stack is empty")
    #for printing the values of the stack
    def printing_func(self):
        for i in range(0,len(self.stack)):
            print(self.stack[i])

In [5]:
my_stack_obj = stack()#creating the object

In [6]:
my_stack_obj.add_ele(10)
my_stack_obj.add_ele(20)
my_stack_obj.add_ele(30)
my_stack_obj.add_ele(40)
my_stack_obj.add_ele(50)
#added the above values in stack

True

In [7]:
my_stack_obj.printing_func()#printing all the values present in stack

10
20
30
40
50

In [8]:
#searching for the top most element
my_stack_obj.peek_func()

50

In [9]:
#removing the top most element of the stack
my_stack_obj.pop_func()

True

In [10]:
#searching for the top most element
my_stack_obj.peek_func()

40

In [12]:
#as we can see above the top most element is now 40
my_stack_obj.printing_func()#printing all the values present in stack

10
20
30
40

# QUEUE

In [28]:
class queue:
    #created an empty queue
    def __init__(self):
        self.queue=list()
    #adding the elements in the queue
    def add_ele(self,data):
        if data not in self.queue:
            self.queue.insert(0,data)
            
        else:
            return False
    #removing the elements from the single end
    def remove(self):
        if len(self.queue)>0:
            self.queue.pop()
            return True
        else:
            print("queue is empty!")
    def print_queue(self):
        print(self.queue)

In [29]:
queue_obj=queue()#object created

In [30]:
#adding the elements in it
queue_obj.add_ele("arsh")
queue_obj.add_ele("piyush")
queue_obj.add_ele("mayank")

In [31]:
#printing the queue values
queue_obj.print_queue()

['mayank', 'piyush', 'arsh']

# DOUBLE ENDED QUEUE

In [32]:
#in case of the double ended queue we can insert or delete the elements from both the sides
import collections

In [34]:
double_ended_queue = collections.deque([20,30,40])

In [35]:
#inserting from the left
double_ended_queue.appendleft(10)

In [37]:
#inserting from the right
double_ended_queue.append(50)

In [38]:
double_ended_queue

deque([10, 20, 30, 40, 50])

In [39]:
#the deque is created

In [40]:
#deleting the elements from the right
double_ended_queue.pop()

50

In [41]:
#deleting from the left
double_ended_queue.popleft()

10

In [43]:
double_ended_queue

deque([20, 30, 40])